.smartthermostat-tstat-summary {
  border: 0px;
  padding: 0px;
}
.smartthermostat-name { 
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  font-size: 1.8em;
  padding-right: 0.25em;
}
.smartthermostat-misc-on { color: green; }
.smartthermostat-temp { padding-left: 0.25em; font-size: 1.4em; }
.smartthermostat-temp-heating { color: rgb(243, 138, 0); }
.smartthermostat-sensors { padding-left: 3em; }
.smartthermostat-sensor-occupied { color: #fff; }
